* {
    font-family: 'abel', sans-serif;
}

#codeup-design-logo {
    height: 105px;
    width: 105px;
    padding: 15px ;
}
.anton {
    font-family: 'anton', sans-serif;
}

#cir-1 {
    height: 105px;
    width: 105px;
    border: solid 8px white;
    border-radius: 50%;
    background-color: #E6563b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cir-2 {
    height: 105px;
    width: 105px;
    border: solid 8px white;
    border-radius: 50%;
    background-color: #EB9D3A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cir-3 {
    height: 105px;
    width: 105px;
    border: solid 8px white;
    border-radius: 50%;
    background-color: #7cb06c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cir-4 {
    height: 105px;
    width: 105px;
    border: solid 8px white;
    border-radius: 50%;
    background-color: #00ABA9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}