.page-wrapper {
  background-color: #f0f0f0;
}

* {
    font-family: 'abel', sans-serif;
}

#codeup-design-logo {
    height: 105px;
    width: 105px;
    padding: 15px ;
}
.anton {
    font-family: 'anton', sans-serif;
}



#codeup-design-text {
    font-size: 2em;
}

.nav-menu {
    padding-top: 13px;
}

#visual-design {
    font-size: 5em;
}

#utah {
    font-size: 3em;
    margin-left: .3em;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 1em;
}


#cir-1 {
    height: 130px;
    width: 130px;
    border: solid 8px white;
    background-color: #E6563b;
    color: white;
}
#cir-2 {
    height: 130px;
    width: 130px;
    border: solid 8px white;
    background-color: #EB9D3A;
    color: white;

}

#cir-3 {
    height: 130px;
    width: 130px;
    border: solid 8px white;
    border-radius: 50%;
    background-color: #7cb06c;
    color: white;
}

#cir-4 {
    height: 130px;
    width: 130px;
    border: solid 8px white;
    background-color: #00ABA9;
    color: white;
}