/* sm/xs view */
@media only screen and (max-width: 767px) {
    .right-side {
        display: none;
    }

    #codeup-design-text {
        display: none;
    }

    #codeup-design-logo {
        height: 105px;
        width: 105px;
        padding: 15px;
        margin: 0;
    }

    #visual-design {
        font-size: 3.4rem;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .nav-menu {
        display: none;
    }

    #utah {
        font-size: 2.9rem;
    }

    #bar {
        display: none;

    }

    #the-last {
        display: none;
    }

    #selected {
        margin-top: 3rem;
    }

    .small-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #second-img-row {
        margin-top: 0;
    }
}

/*Medium view*/
@media (min-width: 992px) {
    #hamburger-button {
        display: none;
        position: static !important;
    }

    #codeup-design-logo {
        padding: 0;
        margin-right: 1em;
    }

    #nav-bar {
        display: inline-flex;
        justify-content: start !important;
        width: 100%;

    }
}

/*XL Desktop view*/
@media (min-width:1200px) and (max-width: 1400px){
    .right-img-text {
        font-size: 16px;
        text-transform: uppercase;
    }

    #selected {
        margin-top: 0;
    }

    .mt-lg-5 {
        margin-top: 0 !important;
    }

    .large-jpg {
        height: 18rem;
        width: 24rem !important;
    }

    .right-img-text {
        font-size: 15px;
    }

    .mini-cir-red {
        margin-left: 9em;
    }

    .featured {
        font-size: 1.3rem;
        margin-left: 10px
    }

    #second-img-row {
        margin-top: 1em;
    }
}

/* between lg and medium */
@media (min-width:768px) and (max-width: 991.98px) {
    #codeup-design-text {
        display: none;
    }

    #codeup-design-logo {
        height: 105px;
        width: 105px;
        padding: 15px;
        margin: 0;
    }

    #visual-design {
        font-size: 5.3em;
    }

    #utah {
        font-size: 3.45em;
    }

    .nav-menu {
        display: none;
    }

    .row {
        flex-wrap: nowrap;
    }

    .right-side {
        display: none;
    }

    .large-jpg {
        margin: 0;
    }

    #the-last {
        display: none;
    }

    .second-row {
        margin: 1em;
    }

    .med-img {
        width: 70%;
        margin: 0;
        padding: 0;
    }

    #second-img-row {
        margin: 0;
        padding: 0;
    }

    .med-left-img {
        margin-left: 1.25em;
    }

    .featured {
        margin-bottom: 1em;
    }

    #cir-1 {
        width: 105px;
        height: 105px;
        margin: 10px;
        font-size: 18px;
    }

    #cir-2 {
        width: 105px;
        height: 105px;
        margin: 10px;
    }

    #cir-3 {
        width: 105px;
        height: 105px;
        margin: 10px;
    }

    #cir-4 {
        width: 105px;
        height: 105px;
        margin: 10px;
    }
}